@import "../variables";

@mixin ccc-tabs {
  dx-tab-panel {
    background: var(--color-fondo-e7);
    padding: 6px 12px;
    .dx-tabpanel-tabs {
      .dx-tabs-wrapper {
        border: none;
        background: var(--color-fondo-e7);

        .dx-item {
          background: var(--color-fondo-e7);
          border-radius: 5px 5px 0px 0px;
          .dx-tab-text-span {
            color: var(--color-texto);
    font-family: var(--tipografia);
;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.1px;
          }
        }

        .dx-tab-selected {
          background: #fff;
          border-bottom: none;
          &::after {
            border-radius: 5px 5px 0px 0px;
            border-top: 1px solid var(--color-sombra);
            border-right: 1px solid var(--color-sombra);
            border-left: 1px solid var(--color-sombra);
          }
          .dx-tab-text-span {
            color: var(--color-principal);
    font-family: var(--tipografia);
;;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.1px;
          }
        }

        &::after {
          border: none;
        }
      }
    }

    .dx-tabpanel-container {
      border-right: 1px solid var(--color-sombra);
      border-left: 1px solid var(--color-sombra);
      background: #fff;
      padding: 12px;

      .dx-multiview-wrapper {
        border: none;
      }
    }
  }
  @content;
}
