::ng-deep {
  .body {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    .sec {
      width: 48%;
      border: 1px dashed #2C6A8F;
      padding: 10px;
      border-radius: 10px;
      .titulo-sec {
        font-size: 25px;
        font-family: "Noto Sans";
        margin: 0px;
      }

      .content-sec{
        display: flex;
        justify-content: space-between;

        app-ccc-tag-box{
          width: 25%;
        }
      }
    }
  }
}
