<div class="body">
  <div class="sec">
    <app-form-text></app-form-text>
  </div>

  <div class="sec">
    <app-form-number></app-form-number>
  </div>

  <div class="sec">
    <app-select></app-select>
  </div>

  <div class="sec">
    <app-tag-box></app-tag-box>
  </div>

  <div class="sec">
    <app-checkbox></app-checkbox>
  </div>

  <div class="sec">
    <app-radio-button></app-radio-button>
  </div>

  <div class="sec">
    <app-data-grid></app-data-grid>
  </div>
  <div class="sec">
    <app-tabs></app-tabs>
  </div>

  <div class="sec">
    <app-accordion></app-accordion>
  </div>


  <div class="sec">
  <p>holi</p>  
  </div>
</div>
