<h1 class="titulo-sec">Form Text</h1>

<div class="content-sec form-text">
  <app-ccc-text
    [titulo]="'Texto empty'"
    [botonBorrar]="false"
    [required]="false"
    (valueChanged)="onTextValueChanged($event)"
  ></app-ccc-text>

  <app-ccc-text
    [valorInicial]="formData.nombre"
    [titulo]="'Texto filled'"
    [botonBorrar]="false"
    [required]="false"
    (valueChanged)="onTextValueChanged($event)"
  ></app-ccc-text>

  <app-ccc-text
    id="focused"
    [titulo]="'Texto focused'"
    [botonBorrar]="false"
    [required]="false"
    (valueChanged)="onTextValueChanged($event)"
  ></app-ccc-text>

  <div class="error">
    <app-ccc-text
      id="error"
      [titulo]="'Texto error'"
      [botonBorrar]="false"
      [required]="true"
      (valueChanged)="onTextValueChanged($event)"
      [valorInicial]="' '"
    ></app-ccc-text>
    <p class="error-msg">Hay un error en el NIF.</p>
  </div>

  <div class="aceptado">
    <app-ccc-text
      id="aceptado"
      [titulo]="'Texto aceptado'"
      [botonBorrar]="false"
      [required]="true"
      (valueChanged)="onTextValueChanged($event)"
      [valorInicial]="' '"
    ></app-ccc-text>
  </div>

  <app-ccc-text
    [titulo]="'Texto disabled'"
    [botonBorrar]="false"
    [disabled]="true"
    [required]="true"
    (valueChanged)="onTextValueChanged($event)"
  ></app-ccc-text>
</div>
