<h1 class="titulo-sec">TagBox</h1>
<div class="content-sec form-tag">
  <app-ccc-tag-box
    [titulo]="'TagBox empty'"
    [valorInicial]="[]"
    [items]="productos1"
    [botonBorrar]="false"
    [ariaLabel]="'Producto'"
    (valueChanged)="onTagBoxValueChangedEmpty($event)"
  ></app-ccc-tag-box>

  <app-ccc-tag-box
    [titulo]="'TagBox filled'"
    [valorInicial]="productosSeleccionadosFilled"
    [items]="productos3"
    [botonBorrar]="false"
    [ariaLabel]="'Producto'"
    (valueChanged)="onTagBoxValueChangedFilled($event)"
  ></app-ccc-tag-box>

  <app-ccc-tag-box
    id="focused"
    [titulo]="'TagBox focused'"
    [valorInicial]="productosSeleccionadosFocused"
    [items]="productos2"
    [botonBorrar]="false"
    [ariaLabel]="'Producto'"
    (valueChanged)="onTagBoxValueChangedFocused($event)"
  ></app-ccc-tag-box>

  <div class="error">
    <app-ccc-tag-box
    id="error"
    [titulo]="'TagBox filled'"
    [valorInicial]="productosSeleccionadosFilled"
    [items]="productos3"
    [botonBorrar]="false"
    [ariaLabel]="'Producto'"
    (valueChanged)="onTagBoxValueChangedFilled($event)"
  ></app-ccc-tag-box>

    <p class="error-msg">Hay un error en el NIF.</p>
  </div>

  <div class="aceptado">
    <app-ccc-tag-box
    id="aceptado"
    [titulo]="'TagBox filled'"
    [valorInicial]="productosSeleccionadosFilled"
    [items]="productos3"
    [botonBorrar]="false"
    [ariaLabel]="'Producto'"
    (valueChanged)="onTagBoxValueChangedFilled($event)"
  ></app-ccc-tag-box>

  </div>

  <app-ccc-tag-box
    [titulo]="'TagBox disabled'"
    [valorInicial]="[]"
    [items]="productos3"
    [botonBorrar]="true"
    [ariaLabel]="'Producto'"
    [disabled]="true"
    (valueChanged)="onTagBoxValueChangedDisabled($event)"
  ></app-ccc-tag-box>
</div>
