// DEVICE LIST //
$xs-min: "(min-width:none)";
$xs-max: "(max-width:576px)";
$xs-sm: "(max-width:767px)";

$sm-min: "(min-width:768px)";
$sm-max: "(max-width:991px)";
$sm-md: "(min-width: 768px) and (max-width:991px)";

$md-min: "(min-width:992px)";
$md-max: "(max-width:1199px)";
$md-lg: "(min-width: 992px) and (max-width:1199px)";

$lg-min: "(min-width:1200px)";
$lg-max: "(max-width:1919px)";
$lg-xl: "(min-width: 1200px) and (max-width:1919px)";

$xl-min: "(min-width:1920px)";
$xl-max: "(max-width:2559px)";
$xl-xxl: "(min-width: 1920px) and (max-width:2559px)";

$xxl-min: "(min-width:2560px)";
$xxl-max: "(max-width:none)";

$zpad-height: "(max-height:600px)";
$tablet-pc: "(min-width: 992px) and (max-width: 1300px)";

$font-family-1: "Noto Sans";



:root {
  --color-principal: #2C6A8F; // or any global you wish to share with components
}
