<div class="datagrid">
  <div class="botones-filtros">
    <!-- Botón para activar el menú -->
    <button mat-button [matMenuTriggerFor]="popup" ></button>

    <!-- Menú de Angular Material -->
    <mat-menu #popup="matMenu" class="menu-desplegable">
      <button mat-menu-item [matMenuTriggerFor]="filtros" class="desp-filtros">
        Activar filtros
      </button>
      <button mat-menu-item (click)="applyMenuAction('Colapsar Filas')" class="colapsar-filas">
        Colapsar filas
      </button>
      <button mat-menu-item (click)="applyMenuAction('Organizar Columnas')" class="organizar-columnas">
        Organizar columnas
      </button>
      <button
        mat-menu-item
        (click)="applyMenuAction('Filtros Personalizados')" class="filtro-personalizado"
      >
        Filtros personalizados
      </button>
    </mat-menu>

    <!-- Submenú para los filtros -->
    <mat-menu #filtros="matMenu" class="submenu-desplegable">
      <mat-checkbox [(ngModel)]="options.selection" (change)="applyGridOptions()"
        >Selector fila</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="options.filterRow" (change)="applyGridOptions()"
        >Filtro fila</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="options.headerFilter" (change)="applyGridOptions()"
        >Filtro cabecera</mat-checkbox
      >
      <mat-checkbox [(ngModel)]="options.groupPanel" (change)="applyGridOptions()"
        >Agrupar por</mat-checkbox
      >
    </mat-menu>
  </div>

  <!-- Panel de búsqueda y configuración del grid -->
  <div class="data-grid-container">
    <dx-data-grid
      id="data-grid-demo"
      [dataSource]="dataSource"
      [keyExpr]="keyExpr"
      [columns]="columns"
      [columnAutoWidth]="true"
      [showBorders]="true"
      [rowAlternationEnabled]="true"
      [allowColumnReordering]="options.columnReordering" 
      [allowColumnResizing]="options.columnResizing"
      [columnResizingMode]="'nextColumn'"
      [sorting]="{ mode: options.sorting ? 'multiple' : 'none' }"
      [filterRow]="{ visible: options.filterRow }"
      [headerFilter]="{ visible: options.headerFilter }"
      [columnChooser]="{ enabled: options.columnChooser }"
      [groupPanel]="{ visible: options.groupPanel }"
      [selection]="{ mode: options.selection ? 'multiple' : 'none' }"
      [wordWrapEnabled]="options.wordWrap"
      [rowDragging]="options.rowDragging"
    >
      <dxo-scrolling mode="infinite"></dxo-scrolling>
      <dxo-paging [enabled]="false"></dxo-paging>

      <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>

      <dxo-filter-panel [visible]="options.filtrosPersonalizados" [filterEnabled]="true"></dxo-filter-panel>
    </dx-data-grid>
  </div>
</div>
