<div class="treelist-container">
  <div class="botones-filtros">
    <button mat-button [matMenuTriggerFor]="popup"></button>
    <mat-menu #popup="matMenu" class="menu-desplegable">
      <button mat-menu-item [matMenuTriggerFor]="filtros" class="desp-filtros">
        Activar filtros
      </button>
      <button
        mat-menu-item
        (click)="applyMenuAction('Colapsar Filas')"
        class="colapsar-filas"
      >
        Colapsar filas
      </button>
      <button
        mat-menu-item
        (click)="applyMenuAction('Organizar Columnas')"
        class="organizar-columnas"
      >
        Organizar columnas
      </button>
      <button
        mat-menu-item
        (click)="applyMenuAction('Filtros Personalizados')"
        class="filtro-personalizado"
      >
        Filtros personalizados
      </button>
      <button
        mat-menu-item
        (click)="toggleDragAndDrop()"
        class="toggle-drag-drop"
      >
        {{ options.dragAndDropEnabled ? 'Desactivar' : 'Activar' }} Drag & Drop
      </button>
    </mat-menu>
    <!-- Submenú para los filtros -->
    <mat-menu #filtros="matMenu" class="submenu-desplegable">
      <mat-checkbox
        [(ngModel)]="options.filterRow"
        (change)="applyTreeListOptions()"
      >
        Filtro fila
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="options.headerFilter"
        (change)="applyTreeListOptions()"
      >
        Filtro cabecera
      </mat-checkbox>
      <mat-checkbox
        [(ngModel)]="options.groupPanel"
        (change)="applyTreeListOptions()"
      >
        Agrupar por
      </mat-checkbox>
    </mat-menu>
  </div>
  <div class="ccc-treelist-container" [ngClass]="{'checkbox-active': options.filterRow, 'checkbox-inactive': !options.filterRow}">
    <dx-tree-list
      #treeList
      [dataSource]="menu"
      keyExpr="id"
      parentIdExpr="parentId"
      [columnAutoWidth]="true"
      [wordWrapEnabled]="true"
      [showBorders]="true"
      [rowAlternationEnabled]="true"
      (onRowClick)="onRowClick($event)"
      
    >

    <dxo-editing
    mode="cell"
    [allowAdding]="false"
    [allowUpdating]="false"
    [allowDeleting]="false"
  ></dxo-editing>
      <dxo-search-panel [visible]="true" width="250"></dxo-search-panel>
      <dxo-selection
        [mode]="options.selection ? 'multiple' : 'none'"
      ></dxo-selection>
      <dxo-row-dragging
        *ngIf="options.dragAndDropEnabled"
        [onDragChange]="onDragChange"
        [onReorder]="onReorder"
        [allowDropInsideItem]="true"
        [allowReordering]="true"
        [showDragIcons]="true"
      ></dxo-row-dragging>
      <ng-container *ngFor="let column of columns">
        <dxi-column
          [dataField]="column.dataField"
          [caption]="column.caption"
          [width]="column.width"
          [allowSorting]="column.allowSorting"
          cssClass="no-sorting"
        ></dxi-column>
      </ng-container>
    </dx-tree-list>
  </div>
</div>
