// NotoSans

@font-face{
  font-family: 'NotoSans';
  src: url('src/app/public/assets/fonts/Noto_Sans/NotoSans-Thin.ttf');
  font-weight: 100;
  font-style: normal;
} 

@font-face{
  font-family: 'NotoSans';
  src: url('/public/assets/fonts/Noto_Sans/NotoSans-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face{
  font-family: 'NotoSans';
  src: url('/public/assets/fonts/Noto_Sans/NotoSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'NotoSans';
  src: url('/public/assets/fonts/Noto_Sans/NotoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'NotoSans';
  src: url('/public/assets/fonts/Noto_Sans/NotoSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'NotoSans';
  src: url('/public/assets/fonts/Noto_Sans/NotoSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: 'NotoSans';
  src: url('/public/assets/fonts/Noto_Sans/NotoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: 'NotoSans';
  src: url('/public/assets/fonts/Noto_Sans/NotoSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face{
  font-family: 'NotoSans';
  src: url('/public/assets/fonts/Noto_Sans/NotoSans-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
