@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icons/icomoon.eot?n9isnx');
  src:  url('/assets/fonts/icons/icomoon.eot?n9isnx#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons/icomoon.ttf?n9isnx') format('truetype'),
    url('/assets/fonts/icons/icomoon.woff?n9isnx') format('woff'),
    url('/assets/fonts/icons/icomoon.svg?n9isnx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lsicon_list-filled:before {
  content: "\e900";
  color: #637381;
}

.icon-acept-circle:before {
  content: "\e901";
}

.icon-add-cicle:before {
  content: "\e902";
}

.icon-alert-circle:before {
  content: "\e903";
}

.icon-btn-filtros:before {
  content: "\e904";
}

.icon-colapsar:before {
  content: "\e905";
}

.icon-filtros:before {
  content: "\e906";
}

.icon-organizar:before {
  content: "\e907";
}

.icon-personalizados:before {
  content: "\e908";
}

.icon-remove-circle:before {
  content: "\e909";
}

.icon-arrow-close-1:before {
  content: "\e90a";
}

.icon-arrow-open-1:before {
  content: "\e90b";
}